
   <!--page style-->
   <style>
     body{


       background-color: #00165a;
       display: flex;
       flex-direction: column;
       align-items:center;
       justify-content:center;
       height:100vh;
       margin: 0;
     }


     .heading-paragraph{
       color: white;
       text-align: left;
       font-family: "Poppins", sans-serif;
       font-weight: 100;
       font-style: normal;
       width: 45%;
       margin: 20px;
       font-size: 30px;
       text-decoration: underline;
     }


     label{
       color: white;
       font-family: "Poppins", sans-serif;
       font-weight: 100;
       font-style: normal;
     }


     .search_form{
     display: flex;
     margin-top:20px;
     padding: 100px;
     border: solid white 1px;
    
   
     }


     .search_form input,
     .search_form button,
     .search_form label{
       display: inline-flex;
       margin-right: 4px;
       font-size: 20px;
      
     }


   </style>
 </head>
 <body>


   <div class="heading-paragraph">
     <h2>StockStash ~ a simple solution for investment research.</h2>
   </div>


 <form action="/get_stock_data" method="get">
    <label for="ticker">Enter Ticker Symbol:</label>
    <input type="text" id="ticker" name="ticker" required>
    
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" required>

    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" required>

    <button type="submit">Get Stock Data</button>
  </form>




 </body>
