
   <!--page style-->
   <style>
     body{


       background-color: #353232;
       display: flex;
       flex-direction: column;
       align-items:center;
       justify-content:center;
       height:100vh;
       margin: 0;
     }


     .heading-paragraph{
       color: white;
       text-align: left;
       font-family: "Poppins", sans-serif;
       font-weight: 100;
       font-style: normal;
       width: 45%;
       margin: 20px;
       font-size: 30px;
       text-decoration: underline;
     }


     label{
       color: white;
       font-family: "Poppins", sans-serif;
       font-weight: 100;
       font-style: normal;
     }


     .search_form{
     display: flex;
     margin-top:20px;
     padding: 100px;
     border: solid white 1px;
    
   
     }


     .search_form input,
     .search_form button,
     .search_form label{
       display: inline-flex;
       margin-right: 4px;
       font-size: 20px;
      
     }


   </style>
 </head>
 <body>


   <div class="heading-paragraph">
     <h2>StockStash ~ a simple solution for investment research.</h2>
   </div>





 </body>
