<!DOCTYPE html>
<html>
  <head>
    <title>StockStash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--    FONT CSS-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <!--chart format
-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
